.checkout-container {
  padding: 20px;
  min-height: 40vh !important;
}

.checkout-content {
  display: flex;
  flex-direction: column; /* For smaller screens, stack cart and form vertically */
}

.cart-container {
  flex: 1;
  margin-bottom: 20px; /* Add margin at the bottom for better separation */
}

.form-container {
  flex: 1;
  margin-left: 0; /* Remove margin on smaller screens */
}

.checkout-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
}

.purchase {
  background-color: #38457c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.purchase:hover {
  background-color: rgba(56, 69, 224, 0.8);
}

.back-to-cart-button {
  background-color: #38457c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.back-to-cart-button:hover {
  background-color: rgba(56, 69, 224, 0.8);
}

.purchaseSuccess,
.checkout-success {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin at the bottom */
}

.checkout-success p {
  font-size: 18px;
  margin-bottom: 10px;
}

.checkout-buttons {
  display: flex;
  align-items: center;
  justify-content: center; /* Align buttons in the center horizontally */
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin at the bottom */
}

.home-button,
.continue-shopping-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button {
  background-color: #38457c;
  color: white;
  margin-right: 10px; /* Add margin between buttons */
}

.home-button:hover {
  background-color: rgba(56, 69, 224, 0.8);
}

.continue-shopping-button {
  background-color: #38457c;
  color: white;
}

.continue-shopping-button:hover {
  background-color: rgba(56, 69, 224, 0.8);
}

/* Responsive adjustments */
@media screen and (min-width: 768px) {
  .checkout-content {
    flex-direction: row; /* Display cart and form side by side on larger screens */
  }

  .form-container {
    margin-left: 20px; /* Add margin between cart and form */
  }

  .checkout-buttons {
    justify-content: flex-end; /* Align buttons to the right */
  }
}
