.checkout-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-sucsess-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.go-home-button,
.view-your-order-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-home-button {
  background-color: #38457c;
  color: white;
  margin-right: 10px;
}

.go-home-button:hover {
  background-color: rgba(56, 69, 224, 0.8);
}

.view-your-order-button {
  background-color: #38457c;
  color: white;
}

.view-your-order-button:hover {
  background-color: rgba(56, 69, 224, 0.8);
}

.checkout-container {
  padding: 20px;
  min-height: 40vh !important;
}

.checkout-content {
  display: flex;
  flex-direction: column;
}

.cart-container {
  flex: 1;
  margin-bottom: 20px;
}

.checkout-form-container {
  flex: 1;
  margin-left: 0;
}

.purchase {
  background-color: #38457c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  height: 40px;
}

.purchase:hover {
  background-color: rgba(56, 69, 224, 0.8);
}

.back-to-cart-button {
  background-color: #38457c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  height: 40px;
}

.back-to-cart-button:hover {
  background-color: rgba(56, 69, 224, 0.8);
}

.purchaseSuccess,
.checkout-success {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkout-success p {
  font-size: 18px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .checkout-content {
    flex-direction: row;
  }

  .checkout-form-container {
    margin-left: 20px;
  }

  .checkout-buttons {
    justify-content: flex-end;
  }
}
