body {
  background-color: #b6d0e2;
  min-height: 60vh !important;
}

.products-container {
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  min-height: 60vh !important;
}

.product-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: calc(50% - 20px); /* Two items per row */
  margin: 10px;
  flex: 1 0;
  max-width: 250px;
}

.product-content {
  background-color: #38457c;
  color: #b6d0e2;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.product-content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: #f0f0f0;
}


#productfilter {
  width: 200px;
  background-color: #b6d0e2;
  border-right: 5px solid #38457c;
  margin-left: 20px;
  color: #38457c;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .product-item {
    width: calc(100% - 20px); /* One item per row for smaller screens */
  }
}
