body {
  background-color: #b6d0e2;
}

.products-container {
  border-radius: 10px;
  padding: 20px;
  flex: 1;
}

.product-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: calc(33.333% - 20px);
  margin: 10px;
}

.product-content {
  background-color: #38457c;
  color: #b6d0e2;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.product-content img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#productfilter {
  width: 200px;
  background-color: #b6d0e2;
  border: 5px solid #38457c;
  margin-right: 20px;
  color: #38457c;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
