body {
  background-color: #b6d0e2;
}


.products-container {
  border-radius: 10px; /* Rounded border */
  padding: 20px; /* Add padding */
  flex: 1; /* Take remaining space */
}

.product-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: calc(33.333% - 20px); /* Set width for each product item, adjust as needed */
  margin: 10px; /* Add margin between products */
}

.product-content {
  background-color: #38457c; 
  color: #b6d0e2;
  border-radius: 8px; /* Rounded border for each product */
  padding: 10px; /* Add padding */
  text-align: center;
}

.product-content img {
  max-width: 100%;
  height: auto;
  border-radius: 5px; 
}



#productfilter {
  width: 200px; /* Set width of product filter */
  background-color: #38457c; /* Example background color */
  margin-right: 20px; /* Add margin between filter and products */
  color:#b6d0e2;
}

.container {
  display: flex; /* Use flexbox */
  flex-direction: row; /* Items lay out horizontally */
  justify-content: flex-start; /* Align items to the start of the main axis */
}