body {
  margin: 0;
  padding: 0;
}

#sparkly-header {
  display: flex;
  align-items: center;
  height: 80px;
  background: #38457c;
}

#sparkly-logo-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#sparkly-logo {
  position: absolute;
  top: 0%;
  left: 5%;
  height: 80px;
}

.nav-content {
  margin-right: 20px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #b6d0e2;
}

.login-button,
.signup-button {
  background-color: #38457c;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

#sparkly-logo-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
