body {
  margin: 0;
  padding: 0;
}

#sparkly-header {
  display: flex;
  align-items: center;
  height: 80px;
  background: rgb(75, 21, 78);
}

#sparkly-logo-container {
  flex: 1;
}

#sparkly-logo-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

#sparkly-logo {
  height: 60px; 
}

.nav-content {
  margin-right: 20px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
}

.login-button,
.signup-button {
  background-color: rgb(75, 21, 78);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}



#sparkly-header ul {
  margin: 0;
  padding: 0;
}

#sparkly-header li {
  list-style: none;
}

#sparkly-logo-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
