#sparkly-header {
  display: flex;
  align-items: center;
  height: 80px;
  background: rgb(75, 21, 78);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

#sparkly-logo-container {
  display: flex;
  flex: 1;
}

#sparkly-logo {
  height: 100px;
  margin-left: 100%;
}

#sparkly-logo-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.nav-content {
  margin-right: 20px;
}
.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.nav-menu li a {
  text-decoration: none;
}

.nav-menu a {
  color: #ffffff;
}

.sub-menu {
  width: auto;
  height: auto;
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -40px;
}

.sub-menu li {
  color: black;
  margin-left: -40px;
  display: block;
  min-width: 100px;
}

.sub-menu a {
  color: black;
  padding: 10px;
}

/* Show sub-menu on hover */
.nav-menu li:hover .sub-menu {
  display: block;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.signup-button {
  background-color: rgb(75, 21, 78);
  color: white;
  border-radius: 10px;
}
.login-button {
  background-color: white;
  color: black;
  border-radius: 10px;
}

.signup-button,
.login-button {
  border: none;
  width: 200px;
  padding: 15px 30px; /* Increased padding for bigger buttons */
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  display: block; /* Ensure buttons take full width of their container */
  margin: 10px auto; /* Center the buttons horizontally */
  text-align: center; /* Center the text within the button */
}
