.order-page{
    min-height: 62.1vh !important;
}

.order-page {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .order-container {
    margin-bottom: 20px;
  }
  .cancel-status-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  .orderBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://e0.pxfuel.com/wallpapers/24/857/desktop-wallpaper-background-jewelry.jpg");
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(8px);
    z-index: -1;
  }
  
  .orderBody {
    position: relative;
    z-index: 1;
    min-height: 61.1vh !important;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  /* Add lines between td elements */
  td {
    border-right: 1px solid #ddd;
  }
  
  /* Ensure the last td in each row doesn't have a border */
  td:last-child {
    border-right: none;
  }
  
  /* Responsive Design */
  @media (max-width: 968px) {
    th, td {
      font-size: 14px;
      padding: 4px;
    }
  }
  