body {
  background-color: #b6d0e2;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.slide div {
  background-color: #38457c;
  color: #b6d0e2;
  border-radius: 10px;
  padding: 20px;
}

.slide img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.prev,
.next {
  width: 40px;
  height: 40px;
background-color: #38457c;
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 0;
  color: #b6d0e2;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border: none;
  border-radius: 5px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  width: 80%;
}

.about-us-text {
  width: 50%;
  position: relative;
}

.about-us-image img {
  width: 380px;
  height: 380px;
}

.about-us-text::before {
  content: "";
  border-left: 5px solid #38457c;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20px;
}

.about-us-text::after {
  content: "";
  border-top: 5px solid #38457c;
  width: 100%;
  position: absolute;
  top: -4px;
  left: 0;
}

#popular-products-text {
  padding-left: 50px;
}

